body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: radial-gradient(white, gray); */

    background-image: url(./public/images/espace.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/*//////////////////////////////////HEADER/////////////////////////////////*/

/* nav {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    backdrop-filter: blur(0px);
} */

ul {
    display: flex;
    justify-content: space-around;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    padding: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.4em;
}

a:hover {
    opacity: 70%;
    color: darkslategray;
    background: white;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

/*//////////////////////////////////HOME/////////////////////////////////*/

.logo {
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
    position: relative;
    width: 220%;
    right: 170px;
    opacity: 50%;
}


/*//////////////////////////////////MAIN/////////////////////////////////*/

.detail,
.detailR {
    display: flex;
    color: darkslategray;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 5px;
}

.detail:hover {
    background: darkslategray;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0 0 20px black);
}

.detailR:hover {
    background: darkslategray;
    transition: 0.5s ease-in-out;
    color: whitesmoke;   
}

h1 {
    color: whitesmoke;
    margin-bottom: 50px;
    font-size: 4em;
}

h2 {
    color: whitesmoke;
    margin: 5px;
}

h3 {
    color: darkslategray;
    filter: drop-shadow(0 0 20px black);
}

h3:hover {
    filter:none;
}

p {
    color: darkslategray;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.5em;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

/*//////////////////////////////////FILMS/////////////////////////////////*/

.listM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 30px;
    color: whitesmoke;
    border: 1px white solid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
}

.listM img {
    width: 70%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.synopsis {
    background: white;
    color: darkslategray;
    font-weight: 200;
    border-radius: 10px;
    width: max-content;
    margin-bottom: 40px;
    width: 550px;
    height: max-content;
    padding: 20px
}

/*//////////////////////////////////ACTEURS/////////////////////////////////*/

.listA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;
    color: whitesmoke;
    border: 1px white solid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
}

.listA img {
    width: 60%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

/*//////////////////////////////////REALISATEURS/////////////////////////////////*/

.listR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;
    color: whitesmoke;
    border: 1px white solid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
}

.listR img {
    width: 60%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.filmo {
    display: flex;
    color: darkslategray;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
}


/*//////////////////////////////////ROLES/////////////////////////////////*/

.listRO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border: 1px white solid;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
}

.listRO img {
    width: 100%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.listRO h2 {
    margin: 5px;
}

.detail {
    display: flex;
    color: darkslategray;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
}

.role {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*//////////////////////////////////GENRES/////////////////////////////////*/

.titreGenre {
    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.listG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;
}

/*//////////////////////////////////FORMULAIRES/////////////////////////////////*/


.formulaire {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.formulaireG {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    border: 1px white solid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.name {
    color: gray;
    border-radius: 10px;
    width: 200px;
}

h3 {
    color: gray;
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.nameGenre,
.nameRealisateur,
.nameCasting {
    color: gray;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px;
}

.nameR {
    color: gray;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px;
}

.nameSynopsis {
    color: gray;
    border-radius: 10px;
    width: 500px;
    margin: 30px;
    padding: 20px;
}

.add {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add:hover {
    background: grey;
    color: white;
    transition: 0.5s ease-in-out;
}

form {
    margin: 20px
}

.form {
    color: darkslategray;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: lighter;
    transition: 0.5s ease-in-out;
}

.formL {
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: lighter;
    transition: 0.5s ease-in-out;
}

.formS {
    color: darkslategray;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: lighter;
    transition: 0.5s ease-in-out;
}

.form:hover {
    font-weight: lighter;
    transform: scale(0.7);
    filter: drop-shadow(0 0 20px black);
}

.formL:hover {
    font-weight: lighter;
    transform: scale(0.7);
    filter: drop-shadow(0 0 20px black);
}

.formS:hover {
    font-weight: lighter;
    transform: scale(0.7);
}

.formAdd {
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px white solid;
    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
    filter: drop-shadow(0 0 20px black);
}

.formAddCasting,
.formAddFilm,
.formAddActeur,
.formAddRealisateur {
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px white solid;
    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(0px);
    filter: drop-shadow(0 0 20px black);
}

.formAddActeur form {
    display: flex;
    flex-direction: column;
}

.formAddRealisateur form {
    display: flex;
    flex-direction: column;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

/*//////////////////////////////////FOOTER/////////////////////////////////*/

header,
footer {
    width: -webkit-fill-available;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), gray);
    backdrop-filter: blur(0px);
    padding: 20px;
    text-align: center;
}

span {
    color: whitesmoke;
}

/*//////////////////////////////////RESPONSIVE/////////////////////////////////*/

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 0) and (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }

    a {
        padding: 10px;
        font-size: 0.7em;
    }

    .logo {
        width: 120%;
        right: 27px;
    }

    header,
    footer {
        width: max-content;
        padding: 25px;

    }

}