body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(white, gray);
}

/*//////////////////////////////////HEADER/////////////////////////////////*/

nav {
    background: darkslategrey;
}

ul {
    display: flex;
    justify-content: space-around;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    padding: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.4em;
}

a:hover {
    opacity: 70%;
    color: darkslategray;
    background: white;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

/*//////////////////////////////////HOME/////////////////////////////////*/

.logo {
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
    position: relative;
    width: 220%;
    right: 170px;
}

/* .home {
    background: url(public/images/cinema.jpg);
} */

/*//////////////////////////////////MAIN/////////////////////////////////*/

.detail {
    display: flex;
    color: darkslategray;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
}

.detail:hover {
    background: whitesmoke;
    transition: 0.5s ease-in-out;
}

h1 {
    margin-bottom: 50px;
    font-size: 4em;
}

h2 {
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.5em;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

/*//////////////////////////////////FILMS/////////////////////////////////*/

.listM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

.listM img {
    width: 50%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.synopsis {
    background: white;
    font-weight: 200;
    border-radius: 10px;
    width: max-content;
    margin-bottom: 40px;
    width: 550px;
    height: max-content;
    padding: 20px
}

/*//////////////////////////////////ACTEURS/////////////////////////////////*/

.listA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

.listA img {
    width: 60%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

/*//////////////////////////////////REALISATEURS/////////////////////////////////*/

.listR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

.listR img {
    width: 60%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.filmo {
    display: flex;
    color: darkslategray;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
}


/*//////////////////////////////////ROLES/////////////////////////////////*/

.listRO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
}

.listRO img {
    width: 130%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
}

.listRO h2 {
    margin: 5px;
}

.detail {
    display: flex;
    color: darkslategray;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
}

.role {
    display: flex;
    align-items: baseline;
}


/*//////////////////////////////////GENRES/////////////////////////////////*/

.titreGenre {
    font-size: 2em;
}

.listG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;

    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    backdrop-filter: blur(8px);
    filter: drop-shadow(0 0 20px black);
}

/*//////////////////////////////////FORMULAIRES/////////////////////////////////*/


.formulaire {
    display: flex;
    flex-direction: column;
    background: darkslategray;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.name {
    color: gray;
    border-radius: 10px;
    width: 200px;
}

h3 {
    color: gray;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.nameGenre,
.nameRealisateur {
    color: gray;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nameSynopsis {
    color: gray;
    border-radius: 10px;
    width: 500px;
    margin: 30px;
    padding: 20px;
}

.add {
    border-radius: 10px;
    margin-top: 20px;
}

.add:hover {
    background: grey;
    color: white;
    transition: 0.5s ease-in-out;
}

.form {
    color: whitesmoke;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: lighter;
    transition: 0.5s ease-in-out;
}

.form:hover {
    padding: 10px;
    font-weight: lighter;
}

.formAdd {
    color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), grey);
    backdrop-filter: blur(8px);
    filter: drop-shadow(0 0 20px black);
}

/*//////////////////////////////////FOOTER/////////////////////////////////*/

header,
footer {
    width: -webkit-fill-available;
    background: darkslategray;
    padding: 20px;
    text-align: center;
}

span {
    background: darkslategrey;
    color: whitesmoke;
}

/*//////////////////////////////////RESPONSIVE/////////////////////////////////*/

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 0) and (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }

    a {
        padding: 10px;
        font-size: 0.7em;
    }

    .logo {
        width: 120%;
        right: 27px;
    }

    header,
    footer {
        width: max-content;
        padding: 25px;

    }

}